@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../styles/_spinner.css';

@layer base {
  html,
  body {
    font-size: 14px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
